body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.banner {
  background-color: white;
  text-align: center;
  height: 450px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .logo-banner {
    width: 60%;
  }
  p {
    width: 420px;
  }
  @media(max-width: 1000px) {
    .logo-banner {
      width: 80%;
    }
    p {
      width: 380px;
    }
  }
  @media(max-width: 700px) {
    .logo-banner {
      width: 100%;
      padding-top: 30px;
    }
    p {
      width: 300px;
    }
  }
}

.newsletter {
  max-width: 465px;
  display: flex;
  flex-diretion: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
}

.email {
  @media (max-width: 700px) {
    text-align: center;
  }
}
#proposition {
  text-align: right;
  margin: none;
  .click-link {
    color: $gray;
    font-weight: bold;
    &:hover {
      color: $blue;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

.fix-bottom-illustration {
  width : 100%;
  background-color: white;
}
