body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.banner {
  background-color: white;
  text-align: center;
  height: 450px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .logo-banner {
    width: 60%;
  }
  p {
    width: 420px;
  }
  @media(max-width: 1000px) {
    .logo-banner {
      width: 80%;
    }
    p {
      width: 380px;
    }
  }
  @media(max-width: 700px) {
    .logo-banner {
      width: 100%;
      padding-top: 30px;
    }
    p {
      width: 300px;
    }
  }
}

#mc-embedded-subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.email-newsletter {
    outline: none;
    text-align: center;
    border-radius: 3px;
    width: 280px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 7px;
    background-color: $light-gray;
    color: $gray;
    border: 1px solid $light-gray;
}

.email {
  height: 35px;
}

.required {
  color: $red !important;
}

.button-newsletter{
  background-color: $blue;
  text-align: left;
  height: 35px;
  width: 96%;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 3px;
  background: $blue;
  color: white;
  &:hover {
    background-color: $blue;
    opacity: 0.8;
  }
}

#proposition {
  text-align: left;
  padding: 7px;
  .red-link {
    color: $red;
    font-weight: bold;
    &:hover {
      color: $blue;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
