::-webkit-input-placeholder {
   font-size: 14px!important;
}

:-moz-placeholder { /* Firefox 18- */
      font-size: 14px!important;
}
::-moz-placeholder {  /* Firefox 19+ */
      font-size: 14px!important;
}

.form-proposition {
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.presentation-proposition {
  text-align: left;
}
