.logo {
  width: 80%;
}

.projet {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.simple-card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 2px 2px 10px 0px rgba(210, 210, 210, 1);
  padding: 8px 15px;
  margin: 0px 20px 20px 20px;
}
  .simple-card-icon {
    display: flex;
    align-content: center;
    justify-content: center;
    }

.sub-card {
    border-bottom: 4px solid $green;
}


.fas {
  color: $green;
  font-size: 50px;
  margin-right: 20px;
}

.title-card {
  display: flex;
  justify-content: center;
}

.content {
  margin-top: 30px;
  text-align: left;
}
