.logo {
  width: 80%;
}

.projet {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.simple-card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px 15px;
  margin: 0px 20px 20px 20px;
}
  .simple-card-icon {
    display: flex;
    align-content: center;
    justify-content: center;
    }

.sub-card {
    border-bottom: 4px solid $green;
}


.fas {
  color: $green;
  font-size: 50px;
  margin-right: 20px;
}

.title-card {
  display: flex;
  justify-content: center;
}

.content {
  margin-top: 30px;
  text-align: left;
}
