<div class="card-video">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Mvh3KJbp_gc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="card-content">
    <div class="card-title">
      <h4>Faire de Villeneuve d'Ascq une véritable ville universitaire</h4>
    </div>
  </div>
</div>
