
<div class="card-video">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nb4ADd_rdBc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="card-content">
    <div class="card-title">
      <h4>Mettre en place une mutuelle communale</h4>
    </div>
  </div>
</div>


