<div class="card-video">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HGivIMaBp64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="card-content">
    <div class="card-title">
      <h4>Faire de la ville verte une ville durable</h4>
    </div>
  </div>
</div>


