<div class="banner">
  <%= image_tag "parolescitoyennes.png", class:"logo-banner" %>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit ad natoque etiam accumsan ornare sem, lectus convallis habitasse nascetur senectus. Platea ante nunc nostra aptent leo non, nascetur egestas sociosqu mattis eu, curabitur ultricies ornare suspendisse sociis.</p>
  <div id="content">
    <div id="newsletter">
      <input type="email" placeholder="Votre adresse email"></input>
      <a href="#" id="button">Envoyer</a>
    </div>
    <div id="proposition">
      <p>J'ai une proposition à partager, je clique <a href="#" class="red-link">ici</a></p>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <h3>Vos propositions en vidéo</h2>
  </div>
</div>


<%= render 'shared/redfooter' %>
