<div class="navbar-parolescitoyennes">
  <!-- Logo -->
  <a href="/" class="navbar-logo">
    <%= image_tag ("bulles.png") %>
  </a>

  <!-- Navigation -->
  <div class="navbar-center hidden-xs hidden-sm">
    <a href="" class="navbar-item navbar-link">Qui nous sommes</a>
    <a href="" class="navbar-item navbar-link">J'ai une proposition</a>
  </div>

  <!-- Social media icons -->

  <div class="navbar-sm-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
  </div>
</div>
