<div class="red-footer">
  <div class="red-footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
  </div>
  <div class="footer-copyright hidden-xs hidden-sm">
    <ul class="list-inline">
      <li><a href="">Mentions légales</a></li>
      <li><a href="">Nous contacter</a></li>
    </ul>
  </div>
</div>
