<div class="footer red-footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/ParolesCitoyennes.Villeneuve2020" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/parolescitoyennes.vda2020/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/ParolesCit_VDA " target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.youtube.com/channel/UCkyBSm4EYZB9iLoSzVVgmmA/featured?disable_polymer=1 " target="_blank"><i class="fab fa-youtube"></i></a>
  </div>
  <div class="footer-copyright">
    <ul class="list-inline pages-footer">
      <li><a href="">Mentions légales</a></li>
      <li><a href="mailto:parolescitoyennes.vda2020@gmail.com">Nous contacter</a></li>
    </ul>
  </div>
</div>
