<%= render 'shared/navbar' %>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <h4>Crédits :</h4>
        <p>Conception, réalisation graphique et technique du site : Louis Burette</p>
        <p>Soutien à la conception et à la réalisation graphique du site : Julien Brunee</p>
        <p><a href="http://julienbruneel.fr">http://julienbruneel.fr/</a></p>
        <p>tél : +33 (0)6 76 49 77 60</p>
        <p>courrier : <a href="mailto:julien.bruneel@gmail.com">julien.bruneel@gmail.com</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <h4>Solution technique :</h4>
        <p>Le site « parolescitoyennes-villeneuve2020.fr » est propulsé par la plateforme ...</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <h4>Licences, droits de reproduction :</h4>
        <p>Conformément aux lois régissant les droits de propriété littéraire et artistique ou les droits voisins, la reproduction et la représentation de tout ou partie des éléments composant le site « parolescitoyennes-villeneuve2020.fr » sont strictement interdites, sans l’autorisation des responsables.</p>
        <h5>Crédits photos</h5>
        <p>© Paroles Citoyennes Villeneuve d’Ascq 2020</p>
        <h5>Mentions légales</h5>
        <p>Éditeur et Responsable de la publication</p>
        <p>Éditeur : Paroles Citoyennes Villeneuve d’Ascq 2020</p>
        <p>Responsable de publication : Victor BURETTE</p>
        <h5>Hébergement</h5>
        <p>Ce blog est hébergé par <a href="https://www.ovh.com/">OVH</a>, 140 Quai du Sartel, 59100 Roubaix, France.</p>
        <h5>Données personnelles</h5>
        <p><strong>Conformément à l’article 39 de la loi du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous avez un droit d’accès, de modification et d’opposition sur vos données personnelles enregistrées par le blog. Dans ce cas, utilisez le <a href="/proposition">formulaire de contact</a>.</strong></p>
      </div>
    </div>
  </div>
</div>
<%= image_tag "illustration-va-gray.svg", class: "fix-bottom-illustration" %>
<%= render 'shared/footer' %>
