<%= render 'shared/greennavbar' %>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="card-video">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/SC1XE85BC9o" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="projet">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h3>L'objectif</h3>
          <p>Le temps où la chose publique était réservée à quelques initiés est heureusement révolu. Néanmoins, les espaces d’expression pour faire vivre le débat d’idées et faire émerger de nouvelles propositions ne sont que trop rares. Nombreux sont également les citoyens qui, bien qu’attachés à l’avenir de leur ville, ne souhaitent pas s’inscrire dans une logique partisane.</p>
          <br>
          <p>C’est pourquoi « Paroles Citoyennes » est construit comme un espace participatif. Cette plateforme vise à ouvrir les portes et les fenêtres à tous les citoyens de bonne volonté qui se retrouvent autour des notions de progrès, d’écologie et de solidarité !</p>
          <br>
          <p>L’objectif est simple, faire émerger des idées et propositions nouvelles pour répondre aux défis en matière d’écologie, de mobilité, d’éducation, de santé publique, de logement, de nouvelles technologies… en bref, comment inventer ensemble la ville de demain ?</p>
          <br>
          <p>Chaque proposition sera ainsi étudiée et viendra nourrir la réflexion commune</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h3>A qui s'adresse cette plateforme ?</h3>
          <p>« Paroles Citoyennes Villeneuve d’Ascq 2020 » s’adresse en premier lieu à tous les villeneuvoises et les villeneuvois qui ont des propositions pour construire l’avenir de leur ville ! Naturellement, les partis et mouvements du camp du progrès, de l’écologie et de la gauche seront également invités à partager leurs propositions sur cette plateforme.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h3>Qui sommes-nous ?</h3>
          <p>Nous sommes des habitants de Villeneuve d’Ascq, nous sommes des citoyens curieux de leur ville et intéressés par son devenir, nous sommes des militants associatifs et nous sommes également pour certains des élus municipaux.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <h3>Et après ?</h3>
          <p>Les élections municipales se dérouleront en mars 2020. Cela signifie que nous avons le temps de faire vivre le débat d’idées autour des notions de progrès, d’écologie et de solidarité.</p>
          <br>
          <p>Notre conviction c’est que les convergences politiques nécessaires doivent découler d’un véritable débat d’idées et d’échange autour de propositions innovantes pour préparer l’avenir ! D’abord des idées et un projet, ensuite des convergences et une équipe pour les porter.</p>
          <br>
          <p>Cette plateforme a pour objectif de faire émerger des idées et propositions nouvelles, d’identifier les débats et les défis qui seront ceux de Villeneuve d’Ascq pour le prochain mandat 2020-2026.</p>
          <br>
          <p>D’abord en ligne, nous réfléchirons dans les prochaines semaines à l’organisation d’ateliers participatifs pour échanger sur les premières propositions récoltées et approfondir le projet.</p>
        </div>
    </div>
    </div>
  </div>
</div>
<%= image_tag "illustration-va-green.svg", class: "fix-bottom-illustration" %>
<%= render 'shared/greenfooter' %>
