<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="card-video">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/SC1XE85BC9o" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="projet">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= image_tag "logo.png", class:"logo" %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3>Présentation du projet</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit ad natoque etiam accumsan ornare sem, lectus convallis habitasse nascetur senectus. Platea ante nunc nostra aptent leo non, nascetur egestas sociosqu mattis eu, curabitur ultricies ornare suspendisse sociis.Lorem ipsum dolor sit amet consectetur adipiscing, elit ad natoque etiam accumsan ornare sem, lectus convallis habitasse nascetur senectus. Platea ante nunc nostra aptent leo non, nascetur egestas sociosqu mattis eu, curabitur ultricies ornare suspendisse sociis.</p>
        </div>
        <div class="col-xs-12">
          <h3>Ils nous ont fait une proposition</h3>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/greenfooter' %>
