.red-footer {
  background: $red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
}
.red-footer-links {
  display: flex;
  align-items: center;
}
.red-footer-links a {
  color: $light-gray;
  opacity: 0.3;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.red-footer-links a:hover {
  opacity: 1;
}

a {
  margin-left: 20px;
  color: white;
  opacity: 0.7;
  &:hover{
    color: white;
    opacity: 1;
    text-decoration: none;

  }
}
